@import url("https://fonts.googleapis.com/css?family=Roboto|Titillium+Web&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif; }

p {
  font-size: 20px; }

h2 {
  margin-top: 0;
  margin-bottom: 1em;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 1rem 10rem;
  border-radius: 15px;
  color: #002440; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: white;
  font-family: 'Titillium Web', sans-serif; }

li {
  list-style: none;
  font-size: 20px; }

body {
  background: linear-gradient(to bottom right, #002440, #006CBF); }
  body header {
    width: 100%;
    justify-content: space-around;
    position: fixed;
    top: 0;
    background-color: #1a1a1a;
    z-index: 1; }
    body header .main_header {
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around; }
      body header .main_header .min_menu input, body header .main_header span {
        display: none; }
      body header .main_header img {
        height: 100%; }
      body header .main_header nav ul.menu_list {
        display: flex; }
        body header .main_header nav ul.menu_list li {
          flex-grow: 1; }
          body header .main_header nav ul.menu_list li a {
            position: relative;
            overflow: hidden;
            display: block;
            padding: 2rem 1.5rem;
            will-change: color;
            transition: color .25s ease-out;
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase; }
          body header .main_header nav ul.menu_list li a:before, body header .main_header nav ul.menu_list li a:after {
            content: "";
            width: 0;
            height: 3px;
            background-color: #0089ff;
            will-change: width;
            transition: width .05s ease-out;
            position: absolute;
            bottom: 0; }
          body header .main_header nav ul.menu_list li a:before {
            left: 50%;
            transform: translateX(-50%); }
          body header .main_header nav ul.menu_list li a:after {
            right: 50%;
            transform: translateX(50%); }
          body header .main_header nav ul.menu_list li a:hover:before, body header .main_header nav ul.menu_list li a:hover:after {
            width: 100%;
            transition-duration: .15s; }
      body header .main_header nav:hover a:not(:hover) {
        color: #0089ff; }
  body .osn_container div {
    height: 100%; }
    body .osn_container div a {
      display: block;
      content: "";
      height: 100px;
      margin: -75px 0 0; }
  body .osn_container .block_home {
    height: 970px;
    background-image: url("../img/servernaya.jpg");
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 135px; }
    body .osn_container .block_home .block_with_text {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      body .osn_container .block_home .block_with_text .home_text {
        width: 400px;
        height: 50%; }
        body .osn_container .block_home .block_with_text .home_text h1 {
          display: block;
          position: absolute;
          margin-top: 30px;
          color: white;
          font-size: 60px;
          font-family: 'Roboto', sans-serif;
          animation-duration: 1s;
          animation-name: slidein;
          text-shadow: 3px 4px 5px #000; }
@keyframes slidein {
  from {
    margin-left: -200%; }
  to {
    margin-left: 0%; } }
        body .osn_container .block_home .block_with_text .home_text p {
          font-size: 2em;
          color: white;
          animation-duration: 1s;
          animation-name: slidein2;
          text-shadow: 3px 4px 5px #000; }
@keyframes slidein2 {
  from {
    margin-top: -200%; }
  to {
    margin-top: 0%; } }
  body .osn_container li:first-child {
    margin-top: 55px; }
  body .osn_container .container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center; }
  body .osn_container .about_me .container_about_me {
    display: flex;
    padding: 5px;
    background-image: url("../img/home2.jpg");
    background-size: cover;
    justify-content: flex-end;
    border-radius: 15px; }
    body .osn_container .about_me .container_about_me img {
      height: 1rem;
      border-radius: 15px; }
    body .osn_container .about_me .container_about_me .container_about_me_text {
      border-radius: 5px;
      padding: 1rem;
      line-height: 1.5;
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);
      margin: 1em;
      width: 600px;
      text-align: left;
      text-indent: 1.5em; }
  body .osn_container .my_skills {
    background-image: url("../img/Skills2.jpg");
    background-size: cover;
    background-position-x: center;
    margin-top: 30px;
    padding: 15px; }
    body .osn_container .my_skills .my_skills_container ul {
      width: 60%;
      margin: 1rem auto;
      text-align: left;
      border-radius: 5px;
      padding: 1rem 2rem;
      line-height: 1.5;
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5); }
      body .osn_container .my_skills .my_skills_container ul li {
        margin: 10px 0; }
  body .osn_container .work_experience {
    margin-bottom: 10px; }
    body .osn_container .work_experience .factor, body .osn_container .work_experience .chudo {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      text-align: left;
      padding: 5px;
      line-height: 1.5;
      align-items: end;
      border-radius: 15px; }
      body .osn_container .work_experience .factor img, body .osn_container .work_experience .chudo img {
        width: 10%;
        margin-left: 5px; }
    body .osn_container .work_experience .factor {
      background-image: url("../img/factorcorp.jpg");
      background-size: cover;
      margin-bottom: 25px; }
      body .osn_container .work_experience .factor .factor_text {
        border-radius: 5px;
        padding: 1rem 2rem;
        line-height: 1.5;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5);
        margin: 3em; }
        body .osn_container .work_experience .factor .factor_text img {
          display: none; }
    body .osn_container .work_experience .chudo {
      background-image: url("../img/chudomarket.jpg"); }
      body .osn_container .work_experience .chudo .chudo_text {
        border-radius: 5px;
        padding: 1rem 2rem;
        line-height: 1.5;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5);
        margin: 3em; }
        body .osn_container .work_experience .chudo .chudo_text img {
          display: none; }
  body .osn_container li.education a {
    display: block;
    content: "";
    height: 75px;
    margin: -50px 0 0; }
  body .osn_container li.education .education_main_container {
    background-image: url("../img/bg_education.jpg");
    background-size: cover; }
    body .osn_container li.education .education_main_container .khai {
      padding: 15px 0; }
  body .osn_container li.education .education_khai, body .osn_container li.education .telesens_academy, body .osn_container li.education .nt_school, body .osn_container li.education .a_level {
    border-radius: 5px;
    padding: 1rem 2rem;
    line-height: 1.5;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    body .osn_container li.education .education_khai img, body .osn_container li.education .telesens_academy img, body .osn_container li.education .nt_school img, body .osn_container li.education .a_level img {
      width: 15%;
      margin-right: 5px; }
  body .osn_container .slider {
    width: 450px;
    height: 450px;
    margin: 0 auto; }
    body .osn_container .slider .myWorks img {
      width: 100%; }
    body .osn_container .slider div.prevSlide, body .osn_container .slider div.nextSlide {
      width: 50px;
      height: 50px;
      border: 1px solid black;
      position: relative; }
    body .osn_container .slider div.prevSlide:hover, body .osn_container .slider div.nextSlide:hover {
      cursor: pointer; }
    body .osn_container .slider div.prevSlide {
      top: calc(-50% + -100px);
      left: -50%; }
    body .osn_container .slider div.nextSlide {
      top: calc(-50% - 50px);
      left: 150%; }
  body .osn_container .Contacts {
    height: 600px;
    margin-top: 35px;
    background: url("../img/web-background.jpg"); }
    body .osn_container .Contacts a {
      height: 40px; }
    body .osn_container .Contacts .container_contacts {
      height: max-content; }
      body .osn_container .Contacts .container_contacts ul {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5);
        padding: 1rem 2rem;
        border-radius: 15px; }
        body .osn_container .Contacts .container_contacts ul li {
          width: fit-content;
          margin-bottom: 15px; }
          body .osn_container .Contacts .container_contacts ul li p {
            height: 100%; }
            body .osn_container .Contacts .container_contacts ul li p a {
              margin: 0;
              height: 100%;
              color: #002440;
              font-size: 1.5rem; }
            body .osn_container .Contacts .container_contacts ul li p a:hover {
              text-shadow: 3px 4px 5px #000; }
            body .osn_container .Contacts .container_contacts ul li p i {
              margin-right: 10px; }
        body .osn_container .Contacts .container_contacts ul li:first-child {
          margin-top: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?r76rei");
  src: url("fonts/icomoon.eot?r76rei#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?r76rei") format("truetype"), url("fonts/icomoon.woff?r76rei") format("woff"), url("fonts/icomoon.svg?r76rei#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 10px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-gmail:before {
  content: "\e901";
  color: #d14836; }

.icon-viber:before {
  content: "\e900";
  color: #665cac; }

.icon-phone:before {
  content: "\e942"; }

.icon-mobile:before {
  content: "\e958";
  color: black; }

.icon-telegram:before {
  content: "\ea95";
  color: #0089ff; }

.icon-github:before {
  content: "\eab0";
  color: black; }

.icon-skype:before {
  content: "\eac5";
  color: #0089ff; }

.icon-linkedin:before {
  content: "\eac9";
  color: #006CBF; }

.icon-checkmark:before {
  content: "\ea10"; }

@media only screen and (max-width: 1000px) {
  body .osn_container .block_home {
    height: 500px; } }
@media only screen and (max-height: 480px) {
  body .osn_container .block_home {
    height: 500px; } }
@media only screen and (max-width: 1048px) {
  body header .main_header nav ul.menu_list li a {
    padding: 2rem 1rem; } }
@media only screen and (max-width: 800px) {
  body header {
    height: 50px; }
    body header .main_header {
      justify-content: left; }
      body header .main_header nav .min_menu {
        display: block;
        margin-top: 15px; }
        body header .main_header nav .min_menu ul.menu_list {
          margin-top: 14px;
          flex-direction: column;
          justify-content: left;
          position: absolute;
          width: 190px;
          background-color: black;
          transform-origin: 0% 0%;
          transform: translate(-100%, 0);
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
          body header .main_header nav .min_menu ul.menu_list li a {
            padding: 1rem; }
        body header .main_header nav .min_menu span {
          margin-left: 25px;
          display: flex;
          width: 29px;
          height: 2px;
          margin-bottom: 5px;
          position: relative;
          background: #ffffff;
          border-radius: 3px;
          z-index: 2;
          transform-origin: 5px 0px;
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
        body header .main_header nav .min_menu span:first-child {
          transform-origin: 0% 0%; }
        body header .main_header nav .min_menu span:nth-last-child(2) {
          transform-origin: 0% 100%; }
        body header .main_header nav .min_menu input:checked ~ span {
          opacity: 1;
          transform: rotate(45deg) translate(4px, 0px);
          background: #36383F; }
        body header .main_header nav .min_menu input:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2); }
        body header .main_header nav .min_menu input:checked ~ span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0px, 8px); }
      body header .main_header nav .min_menu input {
        margin-left: 25px;
        display: flex;
        width: 30px;
        height: 18px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2; }
      body header .main_header nav .min_menu input[type="checkbox"]:checked ~ ul.menu_list {
        transform: none; }
  body .osn_container li.About_me a {
    height: 74px;
    margin: -38px 0px 0px; }
  body .osn_container li.About_me h2 {
    margin-top: 0; }
  body .osn_container li.About_me .container_about_me {
    border-radius: 0; }
    body .osn_container li.About_me .container_about_me .container_about_me_text {
      margin: 0;
      width: 100%; }
  body .osn_container li.my_skills {
    padding: 5px;
    margin-top: 0;
    background-position-x: center; }
    body .osn_container li.my_skills a {
      height: 66px;
      margin: -38px 0px 0px; }
    body .osn_container li.my_skills h2 {
      margin: 0 0 1rem; }
    body .osn_container li.my_skills .my_skills_container ul {
      margin: 0;
      padding: 5px;
      width: 100%; }
  body .osn_container li.work_experience a {
    height: 100px; }
  body .osn_container li.work_experience .factor, body .osn_container li.work_experience .chudo {
    border-radius: 0; }
  body .osn_container li.work_experience .factor {
    margin-bottom: 5px; }
    body .osn_container li.work_experience .factor img {
      display: none; }
    body .osn_container li.work_experience .factor .factor_text {
      margin: 0;
      padding: 10px;
      display: flex;
      flex-flow: wrap; }
      body .osn_container li.work_experience .factor .factor_text img {
        display: block;
        margin-left: 0;
        margin-right: 10px;
        border-radius: 5px;
        align-items: flex-start; }
  body .osn_container li.work_experience .chudo img {
    display: none; }
  body .osn_container li.work_experience .chudo .chudo_text {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-flow: wrap; }
    body .osn_container li.work_experience .chudo .chudo_text img {
      display: block;
      margin-left: 0;
      margin-right: 10px;
      align-items: flex-start; }
  body .osn_container li.education a {
    height: 40px; }
  body .osn_container li.education .education_main_container h2 {
    margin-top: 0; }
  body .osn_container li.education .education_main_container .khai .education_khai, body .osn_container li.education .education_main_container .khai .telesens_academy, body .osn_container li.education .education_main_container .khai .nt_school, body .osn_container li.education .education_main_container .khai .a_level {
    margin-bottom: 5px; }
  body .osn_container li.Contacts {
    height: max-content; }
    body .osn_container li.Contacts a {
      height: 24px;
      margin: -50px 0px 0px; }
    body .osn_container li.Contacts .container_contacts li p a {
      font-size: 1.4rem; } }
@media only screen and (max-width: 560px) {
  h2 {
    padding: 1rem 0;
    width: 100%; }

  body .osn_container li.education .education_main_container .khai .education_khai {
    padding: 10px; }
    body .osn_container li.education .education_main_container .khai .education_khai img {
      width: 20%; }

  body .osn_container .Contacts .container_contacts ul {
    width: 100%;
    border-radius: 0; } }
@media only screen and (max-height: 460px) {
  body header .main_header nav .min_menu ul.menu_list {
    width: max-content; }
    body header .main_header nav .min_menu ul.menu_list li a {
      padding: 0.7rem;
      width: 100%; } }

/*# sourceMappingURL=main.css.map */
